<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{.CSSPath}}">
        
        <title>FileScanner</title>
    </head>
    <body>
        <div class="container">
            <div class="fileInfos">
                <div class="fileInfo">
                    <div class="type">Dir</div>
                    <div class="name">Папка</div>
                    <div class="size">5 MB</div>
                </div>
                <div class="fileInfo">
                    <div class="type">Dir</div>
                    <div class="name">Папка</div>
                    <div class="size">5 MB</div>
                </div>
                <div class="fileInfo">
                    <div class="type">Dir</div>
                    <div class="name">Папка</div>
                    <div class="size">1022,11 MB</div>
                </div>
            </div>
        </div>
        <script>
            var jsonData = "{{ .FilesJSON}}"
        </script>
        <script src="{{ .ScriptPath }}"></script>
    </body>
</html>