body {
    margin:0;
    padding:0
}
/*вывод информаци о файлах*/
.container {
    margin-top: 5px;
    width: 100%;
    position: relative;
}
.fileInfos {

    width: 80%;
    margin: 0 auto;
}
.fileInfo {
    user-select: none;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid;
    box-sizing: border-box;
    align-items: center;

}
.type, .name, .size{
    margin: 0 auto;
    padding: 2px;
    background-color: cadetblue;
    text-align: left;
}
.type, .size {
    flex-basis: 20%;
}
.name {
    flex-basis: 40%;
    
}
.fileInfo:hover {
    cursor: pointer;
    background-color: rgba(255, 84, 84, 0.97);
}
.fileInfo:hover #info {
    background-color: brown;
}

/*корневая папка*/ 
.root {
    border: 1px solid;
    user-select: none;
    background-color:coral; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
}
.root .type, .root .name, .root .size {
    text-align: center;
    border-radius: 3px;
    background-color:chocolate ;
    
}
/*кнопка назад*/
.back {
    user-select: none;
    background-color: gray;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 50%;
    text-align: center;
    border-radius: 3px;
}
.back:hover {
    cursor: pointer;
    background-color: rgba(255, 84, 84, 0.97);
}